.discussion-board {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8d99ae;
  }
  
  .discussion-board h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .comment {
    background-color: #8d99ae;
    padding: 20px;
    color: #2b2d42;
  }
  
  .comment h2 {
    margin: 0 0 10px 0;
  }
  
  .comment p {
    margin: 0 0 20px 0;
  }